--index-url https://pypi.mirrors.ustc.edu.cn/simple
gunicorn~=20.1.0
custard>=1.1.6
pypinyin~=0.48.0
cos-python-sdk-v5~=1.9.20
dictdiffer~=0.9.0
jsonpath~=0.82
pyjwt>=2.4.0
mysql-connector-python==8.0.26
loguru~=0.6.0
requests~=2.27.0
sqlalchemy~=1.4.39
fastapi
starlette
aioredis~=2.0.1
mitmproxy~=9.0.1
uvicorn[standard]
supervisor~=4.2.5
pydantic~=1.9.0
typing-extensions
PyYAML~=6.0
aiohttp==3.8.1
aiomysql==0.1.1
Jinja2>=3.0.3
APScheduler==3.8.0
redis==3.5.3
redlock~=1.2.0
oss2~=2.16.0
awaits~=0.0.1
qiniu~=7.6.0
GitPython>=3.1.30
pymysql~=1.0.2
beautifulsoup4~=4.11.1
dicttoxml~=1.7.16
python-multipart~=0.0.5
lxml~=4.9.2
faker>=17.6.0
minio~=7.1.10