python-multipart==0.0.20
pydantic[dotenv]==2.12.5
dicttoxml==1.7.16
Faker==37.12.0
fastapi==0.98.0
gunicorn==23.0.0
pypinyin==0.55.0
custard==1.1.7
cos_python_sdk_v5==1.9.40
dictdiffer==0.9.0
jsonpath==0.82.2
pyjwt==2.10.1
mysql-connector-python==9.4.0
loguru==0.7.3
requests==2.32.5
sqlalchemy==2.0.24
starlette==0.27.0
aioredis==2.0.1
mitmproxy==9.0.1
uvicorn==0.38.0
supervisor==4.3.0
typing-extensions
PyYAML==6.0.3
aiohttp==3.13.2
aiomysql==0.3.2
Jinja2==3.1.6
APScheduler==3.11.1
redis==7.0.1
redlock==1.2.0
oss2==2.19.1
awaits==0.0.13
qiniu==7.17.0
pymysql==1.1.2
minio==7.2.20
mkdocs==1.5.3
mkdocs-material==9.5.18
mypy==1.10.1
ruff==0.0.272
aiosqlite==0.22.0