python-multipart==0.0.20
pydantic[dotenv]==2.11.7
dicttoxml==1.7.16
Faker==37.4.0
fastapi==0.98.0
gunicorn==23.0.0
pypinyin==0.54.0
custard==1.1.7
cos_python_sdk_v5==1.9.36
dictdiffer==0.9.0
jsonpath==0.82.2
pyjwt==2.10.1
mysql-connector-python==9.3.0
loguru==0.7.3
requests==2.32.4
sqlalchemy==2.0.24
starlette==0.27.0
aioredis==2.0.1
mitmproxy==9.0.1
uvicorn==0.34.3
supervisor==4.2.5
typing-extensions
PyYAML==6.0.2
aiohttp==3.12.13
aiomysql==0.2.0
Jinja2==3.1.6
APScheduler==3.11.0
redis==6.2.0
redlock==1.2.0
oss2==2.19.1
awaits==0.0.12
qiniu==7.16.0
pymysql==1.1.1
minio==7.2.15
mkdocs==1.5.3
mkdocs-material==9.5.18
mypy==1.10.1
ruff==0.0.272
aiosqlite==0.21.0